.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

.countries {
    fill: rgb(223, 221, 221);
    /* stroke: #000 */

}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 50%;
    margin-left: 250px;
}


/* Include any custom CSS styling here! */
